*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron{
    background-image: url(./images/GrupoDinamo.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 0;
    border-radius: 0;
    color: black;
    text-shadow: 0 0 5px white;
}
.Inicio{
    color: black;
}
h2{
    background-color: #063970;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.nleft{
    background-image: url(images/Imagen\ Experiencia.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}
h3{
    text-align: center;
    color: black;
}
footer{
    background-color: #063970;
}
footer h3{
    color: white;
}
.nleftt{
    text-align: center;
}
.nright{
    text-align: center;
}
p{
    color: white;
}
img{
    width: 100%;
}
.row{
    display: flex;
    margin: 5px;
}
.column{
    flex: 25%;
    padding: 5px;
}
img{
    border-radius: 20%;
}